main.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    & .preview {
        padding: 50px;

        iframe {
            height: 70vh;
            width: 35.75vh;
            border-radius: 30px;
            border: 8px solid gray;
        }
    }

    & .links {

        height: 80vh;
        scrollbar-width: none !important;
        -ms-overflow-style: none;

        &::-webkit-scrollbar{
            display: none;
            width: 0 !important
        }

        h1 {
            margin-bottom: 0;
        }

        small {
            color: gray;
        }

        .links-list {
            overflow-y: scroll;
            scrollbar-width: none !important;
            -ms-overflow-style: none;

            height: 60vh;
            &::-webkit-scrollbar{
                display: none;
                width: 0 !important
            }
        }
    }
}
